body {
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: black;
    /* background-image: url('../assets/ErleK6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -50px;
    background-position-x: 0px; */
}

main {
    width: 800px;
    margin: auto;
    text-align: justify;
}

.main {
    display: flexbox;
    flex-direction: row;
}

section {
    padding-bottom: 30px;
}

h2 {
    font-size: 3rem;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact img {
    max-width: 400px;
    height: auto;
}

.contact-info {
    max-width: 400px;
    display: inline-block;
    font-size: 1.43rem;
}

.contact-info a, footer a {
    color: rgb(10, 87, 10);
}
/* roheline, mis Erlele meeldis rgb(10, 87, 10); */

.contact-info > div > p:first-of-type {
    font-size: 1.73rem;
}

.contact-info > div {
    margin-bottom: 5rem;
}

.contact::after {
    content: '';
    clear: both;
    display: table;
}

.videos iframe:not(:last-of-type) {
    margin-bottom: 1.5cm;
}

.concerts a:hover {
    text-decoration: underline;
}

.concerts a:visited {
    color: white;
}

.gallery a {
    color: white;
    text-decoration: none;
}

.gallery a:hover {
    text-decoration: underline;
}

.gallery a:visited {
    color: white;
}

footer {
    width: 800px;
    margin: auto;
    text-align: center;
}

main section:last-of-type {
    margin-bottom: 100px;
}

footer i {
    margin: 0px 5px;
}

.page-redirect-links {
    font-size: 1.3rem;
    text-decoration: underline;
}

section[class|="gallery"] > div {
    display: flex;
}

section[class~="gallery-all"] > div {
    flex-wrap: wrap;
}

section[class~="gallery"] img {
    width: calc(0.33 * 800px);
}

section[class~="gallery-all"] img {
    width: calc(0.5 * 800px);
}

section[class|="gallery"] a {
    color: white;
    text-decoration: none;
}

section[class|="gallery"] a:hover {
    text-decoration: underline;
}

a:has(>i) {
    display: inline-block;
}

.concerts a {
    color: white;
    text-decoration: none;
}

section[class|="gallery"] a:visited {
    text-decoration: underline;
}